a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}
.navbar-main{
    display: block;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 0px 2px 2px black;
    background-color: #fff;
}
.navbar-main img{
    width: 500px;
    object-fit: cover;
}
.nav-link a{
    color: black;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(214, 0, 0);
    border-radius: 3px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

/* footer */
.footer-social i:hover{
    color: #ff6c00;
}
footer{
    position: relative;
    width: inherit;
    height: fit-content;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    /* background-color: #2e2e2e; */
    background: url("../images/footer-background.jpg");
    background-size: 100% 100%;
    /* filter: drop-shadow(20px); */
    color: #fff;
    font-size: 90%;
}

.footer_one{
    display: grid;
    grid-template-columns:0.7fr 1fr 1fr 1fr;
    width:90%;
    margin: 20px auto;
    gap:0px 5vw;

}
.footer a{
    color: inherit;
}
.footer_one>div{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.footer span{
    margin:5px 0px;
    width: 100%;
}

.q_contact>span>i{
    margin: 0px 10px;
}

#span3{
    display: flex;
}
.q_links>a{
    margin:5px 0px;
    width: 100%;
    text-decoration: none;
    color: white;
}
.q_links>a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.q_contact_link{
    display: flex;
}
.q_contact_link>a:hover{
    color: #ff0000;

}
.q_follow_us_link{
    display: flex;
}
.q_follow_us_link:hover p{
    cursor: pointer;
    text-decoration: underline;
    /* color: #d41e27; */
}
.q_follow_us_link:hover i{
    cursor: pointer;
    /* text-decoration: underline; */
    color: #ff0000;
}

.q_contact_link .fa, .q_follow_us_link .fa{
    font-size: 1.2rem;
    margin: 0px 10px 0px 0px;
}

.footer_two{
    display: flex;
    width: inherit;
    height: fit-content;
    padding: 20px;
    /* margin:20px; */
    background-color: #1d1c1c;
    justify-content: space-evenly;    
}


.footer_logo>img{
    margin:0 30px;
}




/* footer */

@media screen and (max-width:480px) {
    .navbar-main img{
        width: 12rem;
        object-fit: contain;
    }
    .navbar-toggler {
        padding: 0.25rem 0.5rem;
        font-size: 1rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        transition: box-shadow .15s ease-in-out;
    }
    .footer_one{
        display: grid;
        grid-template-columns:1fr;
        width:90%;
        margin: 20px auto;
        gap: 5vw 5vw;
    }

    .footerline{
        margin-top: 20px;
        width:100%;
        height: 1px;
        background-color: white;
    }

    .footer_two{
        display: flex;
        flex-direction: column;
        width: inherit;
        height: fit-content;
        padding: 20px;
        margin:auto;
        font-size: 0.8rem;
        text-align: center;
        background-color: #1d1c1c;
        justify-content: space-evenly;    
    }
    .footer_logo{
        margin: 20px auto;
        width: fit-content;
    }
    .footer_logo>img{
        margin:0px;
    }
}